//
//  Config.xcconfig
//  ChatForTinkoff
//
//  Created by Александра Колесова on 09.12.2020.
//  Copyright © 2020 Александра Колесова. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PIXABAY_API_KEY = 19122176-97020ac78cbd69103da6f8991
